---
import Layout from "../Layout.astro";
import EarlyStateBanner from "../../components/EarlyStateBanner.md";
import Sidemenu from "../../components/Sidemenu.astro";
---

<Layout>
  <section class="columns is-desktop is-fullheight px-4">
    <Sidemenu />
    <div class="container column">
        <EarlyStateBanner />
        <slot />
    </div>
  </section>
</Layout>

<style>
  .content {
    padding-top: 1.5em;
    border-left: 0.5px solid var(--bg-light);
  }

  a {
    color: red !important;
  }
</style>
