@charset "utf-8";

$family-sans-serif: 
  Lato,
  'Sora',
  system-ui,
  sans-serif;

$light: #f4eee0;
$grey-lightest: #ECB365;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/generic.sass";
// @import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";

// dark mode
body {
  transition: all 0.4s ease;
  line-height: 1.3;
}

body.dark {
  color: $light;
}

body .subtitle,
body .title {
  color: $dark;
}

body.dark .subtitle,
body.dark .title {
  color: $light;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

button{
  cursor: pointer;
  border: none;
  color: $light;
  padding: .8rem;
  background: $dark;
  border-radius: 6px;
}

body.dark button {
  background: $light;
  color: $dark;
}

body.dark strong {
  color: $grey-lightest;
}

body.dark code {
  background-color: inherit;
  color: #ED6363;
}