html {
  background: var(--bg-dark);
  word-spacing: .12em;
  font-family:
    Lato,
    'Work Sans',
    'Sora',
    system-ui,
    sans-serif;
}

/* (TEMP) Setting colors */
:root {
  --bg-dark: #1A1A1B;
  --bg: #272121;
  --bg-light: #323232;
  --primary: #f4eee0;
  --secondary: #ECB365;
  --code: #ED6363;
}

.bg-dark {
  background-color: var(--bg-dark);
}

.bg {
  background-color: var(--bg);
}

.bg-light {
  background-color: var(--bg-light);
}

.primary {
  color: var(--primary);
}

/* Removing default styles */

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

a.nostyle:active {
  text-decoration: inherit;
  color: var(--secondary);
  background-color: inherit;
  cursor: pointer;
}

a.nostyle:hover {
  background-color: var(--bg-dark);
}

p {
  line-height: 1.25;
}