---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="hero is-link">
		<div class="hero-body">
			<p class="title">Chainflow</p>
			<p class="subtitle">Create and manage flexible and dynamic API callchains.</p>
		</div>
	</section>
</Layout>

<style>
	/* #main-title {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 1em 0;
	} */
</style>
