<section id="footer">
  <p>
    © 2024 Built by
    <a
      href="https://github.com/edwinlzs"
      target="_blank"
      rel="noreferrer"
    >
      @edwinlzs</a
    >
  </p>
  <p>
    This site was made with
    <a
      href="https://github.com/withastro/starlight"
      target="_blank"
      rel="noreferrer">Starlight</a
    > by
    <a
      href="https://github.com/withastro/astro"
      target="_blank"
      rel="noreferrer">Astro</a
    > and hosted on Github Pages.
  </p>
</section>

<style>
  #footer {
    margin-top: 2em;
    color: var(--sl-color-gray-3);
  }

  #footer a {
    opacity: 90%;
  }
</style>
