<section id="footer">
  <p>
    © 2024 Built by
    <a href="https://github.com/edwinlzs" target="_blank">
      edwinlzs</a
    >
  </p>
  <p>
    This site was made with
    <a
      href="https://github.com/withastro/starlight"
      target="_blank"
     >Starlight</a
    > by
    <a
      href="https://github.com/withastro/astro"
      target="_blank"
     >Astro</a
    > and hosted on <a
      href="https://github.com/edwinlzs/chainflow-docs"
      target="_blank">Github Pages</a
    >.
  </p>
</section>

<style>
  #footer {
    margin-top: 2em;
    color: var(--sl-color-gray-3);
  }

  #footer a {
    opacity: 75%;
  }
</style>
