---
const docs = await Astro.glob("../pages/docs/**/*.md");
const guides = await Astro.glob("../pages/guides/*.md");

const pathname = Astro.url.pathname;

// docs.map((doc) => {
//   const filenameParts = doc.file.split('/chainflow-docs/src/pages/docs/');
//   const filename = filenameParts[1];

// })
---

<div id="sidemenu" class="column is-one-fifth-desktop container">
  <aside class="menu">
    <p class="menu-label">Guides</p>
    <ul class="menu-list">
      {
        guides
          .sort((a, b) => a.frontmatter.order - b.frontmatter.order)
          .map((guide) => (
            <li>
              <a
                class="nostyle"
                id={`${pathname === guide.url && "sidemenu-selected"}`}
                href={guide.url}
              >
                {guide.frontmatter.title}
              </a>
            </li>
          ))
      }
    </ul>
    
    <!-- <p class="menu-label">Documentation</p>
    <ul class="menu-list">
      {
        docs
          .map((doc) => {
            const filenameParts = doc.file.split('/chainflow-docs/src/pages/docs/');
            const filename = filenameParts[1];

            return (
            <li>
              <a
                class="nostyle"
                id={`${pathname === doc.url && "sidemenu-selected"}`}
                href={doc.url}
              >
                {filename}
              </a>
            </li>
          )
          })
      }
    </ul> -->
  </aside>
</div>

<style>
  #sidemenu-selected {
    background-color: var(--bg-light);
  }

  #sidemenu {
    padding-top: 2em;
    text-align: left;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
