---
const docs = await Astro.glob('../pages/docs/*.md');
const guides = await Astro.glob('../pages/guides/*.md');
---

<div id="sidemenu" class="column is-one-fifth-desktop container">
  <aside class="menu">
    <p class="menu-label">Documentation</p>
    <ul class="menu-list">
      {docs.map((doc) => (
        <li><a class="nostyle" href={doc.url}>{doc.frontmatter.title}</a></li>
      ))}
    </ul>
    <p class="menu-label">Guides</p>
    
    <ul class="menu-list">
      {guides.map((guide) => (
        <li><a class="nostyle" href={guide.url}>{guide.frontmatter.title}</a></li>
      ))}
    </ul>
    <ul class="menu-list"></ul>
  </aside>
</div>

<style>
  #sidemenu {
    padding-top: 2em;
    text-align: left;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>