---
import Navbar from '../components/Navbar.astro';
import "../styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="has-navbar-fixed-top">
    <main>
      <Navbar />
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --bg-dark: #393646;
    --bg: #4f4557;
    --bg-light: #4f4557;
    --primary: #f4eee0;
  }
  html {
    font-family:
      Work Sans,
      Sora,
      system-ui,
      sans-serif;
    background: var(--bg-dark);
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

	main {
		margin: auto;
		color: var(--primary);
		font-size: 20px;
		line-height: 1.6;
		padding: 1rem;
	}
</style>
